<header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="text-uppercase">
                    <strong>PROFESSIONAL, CREATIVE WEBSITE DESIGN FOR BUSINESS</strong>
                </h1>
                <hr>
            </div>
            <div class="col-lg-8 mx-auto">
                <p class="text-faded mb-5">Start today with UxDesign We can help you build better websites using the Bootstrap CSS framework! Just give Us a Call, no strings attached!</p>
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="http://localhost:61663/Home/Contact">Find Out More</a>
            </div>
        </div>
    </div>
</header>

<!--Registration-Area-->
<div class="container mt-5">
    <div *ngIf="!registerMode" style="text-align: center">
        <h1>Find your match</h1>
        <p class="lead">Come on in to view your matches... All you need to do is sign up!</p>
        <div class="text-center">
            <button class="btn btn-primary btn-lg mr-2" (click)="registerToggle()">Register</button>
            <button class="btn btn-info btn-lg">Learn more</button>
        </div>
    </div>
    <div *ngIf="registerMode" class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
            </div>
        </div>
    </div>
</div>
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading text-white">We've got what you need!</h2>
                <hr class="light my-4">
                <p class="text-faded mb-4">Start Today We make beautiful,online-stores that increase sales, improve operations and grow your business.experience, we know how to built like the back of our hand — we're the best in the business.</p>
                <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>
            </div>
        </div>
    </div>
</section>
<section class="bg-dark text-white">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Start Today Get Your Free Quote</h2>
            <a href="" class="btn btn-default btn-xl sr-button">Give Us a Call</a>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="my-4">
                <p class="mb-5">Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center">
                <i class="fa fa-phone fa-3x mb-3 sr-contact-1"></i>
                <p>863-969-8248</p>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <i class="fa fa-envelope fa-3x mb-3 sr-contact-2"></i>
                <p>
                    <a href="mailto:your-email@your-domain.com">UxDeveloper82@aol.com</a>
                </p>
            </div>
        </div>
    </div>
</section>